<!doctype html>
<html lang="cs">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="no-index">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>

    <title>{ifset title}JD - {include title|stripHtml}{else}Jan Dolejš{/ifset}</title>

</head>
<body>

{if $user->isLoggedIn()}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/me">Photo</a></li>
                <li class="nav-item"><a class="nav-link" href="https://ftp.jandolejs.cz">FTP</a></li>
                <li class="nav-item"><a class="nav-link" href="https://key.jandolejs.cz">Key</a></li>
                <li class="nav-item"><a class="nav-link" href="https://release.jandolejs.cz">Release</a></li>
                <li class="nav-item"><a class="nav-link" href="http://traefik.jandolejs.cz">Traefik</a></li>
                <li class="nav-item"><a class="nav-link" href="http://kimisek.cz">Kimisek</a></li>
                <li class="nav-item"><a class="nav-link" href="/tools">Tools</a></li>
            </ul>
            <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Log out</a>
        </div>
    </nav>
{/if}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" n:href="Homepage:">Jan Dolejš</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" n:href="Homepage:">Domů</a>
                    </li>
                    <!--<li class="nav-item"><a class="nav-link" n:href="Blog:">Blog</a></li>-->
                    <li class="nav-item"><a class="nav-link" n:href="Kontakt:">Kontakt</a></li>
                    <!--<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>-->
                </ul>
                <!--<form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
            </div>
        </div>
</nav>


<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

{block content}{/block}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>


{define tableHead}
    <thead>
    <tr>
        <th n:foreach="$head as $item" scope="col">{$item|firstUpper}</th>
    </tr>
    </thead>
{/define}
