
{block content}
<br>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div>
            <h1>Fakturační údaje</h1>

            <h5>Jan Dolejš<br>Rybnice 187<br>33151 Kaznějov</h5>
            <h5>IČ: 08923299</h5>
            <h5>Banka: 2102123895/2010</h5>
            <h5>Datová schránka: miamris</h5>
        </div>
    </div>

{/block}
