
parameters:
    configuration:

        statistics:
            table: statistics

        users:
            table: users


http:
    proxy: 0.0.0.0/0 # Because IP can change on different environments

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days
    debugger: true


di:
    export:
        parameters: yes


services:
    - App\Router\RouterFactory::createRouter

    Configuration:
        factory: App\Configuration
        setup:
            - App\Configuration::$config = %configuration%

    Authenticator: App\MyAuthenticator
    Authorizer: App\MyAuthorizer

    Statistics: App\Model\Statistics(@Nette\Database\Explorer, @Nette\Security\User)
