
{block content}

    <h1>Jan Dolejš</h1>

    <div>
        <p>E-mail: <a href="mailto:jan@jandolejs.cz" id="email">jan@jandolejs.cz</a></p>
        <p>
            <b><a href="https://honzadolejs.mojeid.cz/" id="vcard">Vizitka</a></b>
            <span class="sep"></span>
            <a href="/ico">Ičo</a>
            <span class="sep"></span>
            <a href="/bank">Platby</a>
        </p>
    </div>
{/block}
