
{block content}

    <h1>Jan Dolejš</h1>

    <div class="box">
        <p>E-mail: <a href="mailto:jan@jandolejs.cz" id="email">jan@jandolejs.cz</a></p>
        <p><a href="https://honzadolejs.mojeid.cz/" id="vcard">Vizitka</a></p>
        <p><a href="/ico">Ičo</a></p>
    </div>
{/block}
