
{block content}

    <h1 onclick="copyTextToClipboard('1602422010/3030')">1602422010/3030</h1>
    <h2><a href="https://www.paypal.com/paypalme/jandolejs">paypal.me/jandolejs</a></h2>
    <h2><img alt="QR Code" class="qr_code" src="/media/qr.png" width="150"></h2>

{/block}
