
body {
    font-family: Arial, serif;
    color: #555;
}

.h {
    margin: 150px 0 0 0;
}

.hh {
    margin: 50px 0 0 0;
}

h3 {
    margin: 25px 0 0 0;
}

h1, h2, h3, p, div {
    text-align: center;
}

a {
    color: #333;
    text-decoration-color: #c9bb97;
    text-decoration-thickness: from-font;
}

.list a:before {
    content: "|";
    color: gray;
    padding: 10px;
}
.list a:first-child {
    font-weight: bold;
}
.list a:first-child:before {
    content: ""
}

a:focus, a:hover, a:active {
    color:#000;
    text-decoration: none;
}

.sep::before {
    content: "|";
    color: gray;
    padding: 4px;
}

.qr_code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    border: 1px solid black; border-radius: 7px; max-width: 95%;margin: 20px auto; padding: 10px;
}
